{% extends 'polymer.html' %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load socialaccount %}


{% block title %} Login {% endblock %}

{% block section %}
<div horizontal center-justified layout>
  <panel vertical layout>
    <div horizontal layout>
      <div flex two>
        <h2>Sign In with Third Party Account</h2>
      </div>
    </div>
    <div horizontal layout>
    {% for provider in socialaccount.providers %}
      <div>
      <a href="{% provider_login_url provider.id process=process %}">
        <paper-button icon="google" class="colored" raised>Sign in with {{provider.name}}
        </paper-button>
      </a>
      </div>
    {% endfor %}
      <!--<div>
        <paper-button icon="facebook" raised onclick="">Sign in with Facebook
        </paper-button>
      </div>-->
    </div>
  </panel>
</div>

<div horizontal center-justified layout>
  <section>
    <paper-shadow></paper-shadow>

    <!--<div vertical layout> 
        <div>
           <paper-input Label="Username" placeholder="Username" floatingLabel>
           </paper-input>            

           <paper-input Label="Password" placeholder="Password" floatingLabel>
           </paper-input> 
        </div>
        <div horizontal layout>
          <paper-checkbox class="blue"></paper-checkbox>
            <h4>Remember me</h4>
        </div>

        <div horizontal layout>
          <div flex>
            <paper-fab raisedButton="true" icon="send" class="blue topMargin"></paper-fab>
          </div>
          <div>
            <paper-button label="Forgot password?" class="normal"></paper-button>
          </div>
        </div>
    </div>-->
  </section>
</div>
  
{% endblock %}