{% extends "polymer.html" %}

{% load url from future %}
{% load i18n %}

{% block title %} Logout {% endblock %}
{% block pageTitle %} Logout {% endblock %}

{% block section %}
<div horizontal layout center-justified>
	<div>
	<h1>{% trans "Sign Out" %}</h1>

	<p>{% trans 'Are you sure you want to sign out?' %}</p>

		<form method="post" action="{% url 'account_logout' %}" id="myform">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
		  {% endif %}
		  <!--<button type="submit">{% trans 'Sign Out' %}</button>-->
		  <paper-button raised class="colored" onclick="Submit();">Logout</paper-button>
		</form>
	</div>
</div>
<script type="text/javascript">

function Submit(){
document.getElementById('myform').submit();
};

</script>
{% endblock %}
