{% extends "polymer.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block section %}
<div horizontal center-justified layout>
  <section vertical center-justified layout>
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <paper-input-decorator label="Old Password" floatingLabel>
            {{ form.oldpassword }}
        </paper-input-decorator>
        <paper-input-decorator label="New Password" floatingLabel>
            {{ form.password1 }}
        </paper-input-decorator>
        <paper-input-decorator label="Repeat new Password" floatingLabel>
            {{ form.password2 }}
        </paper-input-decorator>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</section>
</div>
{% endblock %}
