{% extends "polymer.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block section %}
<div horizontal center-justified layout>
  <section vertical center-justified layout  style="width:400px;">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <paper-input-decorator>
        {{ form.email }}
        </paper-input-decorator>
        <input type="submit" value="{% trans "Reset My Password" %}" />
    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</section>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
