{% extends 'polymer.html' %}

{% load url from future %}
{% load i18n %}

{% block title %} Sign Up Page {% endblock %}

{% block section %}
<style type="text/css">
 
</style>
<div horizontal center-justified layout>
  <panel vertical layout>
    <div horizontal layout>
      <div flex two>
        <h2>Sign Up with Third Party Account</h2>
      </div>
    </div>
    <div horizontal layout>
      <div>
        <paper-button icon="google" class="colored" raised onclick="">Sign Up with Google
        </paper-button>
      </div>
      <div>
        <paper-button icon="facebook" raised onclick="">Sign Up with Facebook
        </paper-button>
      </div>
    </div>
  </panel>
</div>

<!--
<div horizontal center-justified layout>
  <section>
    <paper-shadow></paper-shadow>

    <div vertical layout> 
    
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

    </div>
  </section>
</div>-->

{% endblock %}



