{% extends 'polymer.html' %}
{% load url from future %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block section %}
<div horizontal center-justified layout>
  <section vertical center-justified layout style="width:450px;">
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}

  <paper-input-decorator label="Enter your Username" floatingLabel>
  {{ form.username}}
  </paper-input-decorator>
  <paper-input-decorator label="Confirm Email" floatingLabel>
  {{ form.email }}
  </paper-input-decorator>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>
    By signing up, you agree to the <a href="{% url 'privacy' %}" target="new">Privacy terms of the website</a>
  </p>
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
{% if form.username.errors %}
    <paper-toast id="deviceError" role="alert" text="Hello buddy! Please fill in the Username field" opened duration="10000">
    </paper-toast>   
  {% endif %}

  {% if form.email.errors %}
    <paper-toast id="deviceError" role="alert" text="Cough cough! Email already taken or you've left the Email Address" opened duration="10000">
    </paper-toast>   
  {% endif %}
</section>
</div>
{% endblock %}
