html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}


/* Paper Fab */

paper-fab {
  color: #FFF;
  margin-right:2em;
}

paper-fab.blue {
  background: #5677fc;
}

paper-fab.green {
  background: #259b24;
}

paper-fab.yellow {
  background: #ffeb3b;
  color: #000;
}

section {
  padding: 4px;
  margin: 12px;
}

section.grey {
  background-color: #ccc;
}

/* Paper Button */


paper-button > a {
  padding:0px; margin:0px; text-decoration:none; color:white;
}

paper-button > a.share {
  color:black;
}

paper-button > a.delete {
  color:red;
}

paper-button {
  margin: 1em;
  width: 10em;
}

paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raised].colored #ripple,
paper-button[raised].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raised].colored #focusBg,
paper-button[raised].colored::shadow #focusBg {
  background: #3367d6;
}

paper-input[placeholder] {
  color: black;
}

.form {
  max-width: 480px;
  height:auto;
  padding:10px 20px;
}

.blue {
  background:#5677fc;
}

.card {
  min-width: 480px;
  height:auto;
  padding:10px 20px;
  margin-bottom: 10px;
}

paper-checkbox {
  padding: 20px 20px 20px 0;
}

paper-checkbox.blue::shadow #ink[checked] {
  color: #4285f4;
}

paper-checkbox.blue::shadow #checkbox.checked {
  border-color: #4285f4;
}

.topMargin {
  margin-top:20px;
}

paper-button.normal {
  text-transform: lowercase;
}

.grey {
  background-color: #ccc;
}

panel {
  max-width: 480px;
  padding:10px 20px;
}

paper-dialog {
  width: 50%;
  min-width: 430px;
}

p {
  margin-bottom: 0;
}

paper-dialog paper-button {
  font-weight: bold;
}

paper-button[autofocus] {
  color: #4285f4;
}

/* Added */

 /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.narrow {
      width: 60px;
    }
    
    .button.grey {
      background-color: #eee;
    }
    
    .button.blue {
      background-color: #4285f4;
      color: #fff;
    }
    
    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }
    
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
    
    /* Icon Button */
    .icon-button {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
    }
    
    .icon-button > core-icon {
      margin: 16px;
      transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .icon-button:hover > core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    
    .icon-button > paper-ripple {
      overflow: hidden;
      color: #646464;
    }
    
    .icon-button.red > core-icon::shadow path {
      fill: #db4437;
    }
    
    .icon-button.red > paper-ripple {
      color: #db4437;
    }
    
    .icon-button.blue > core-icon::shadow path {
      fill: #4285f4;
    }
    
    .icon-button.blue > paper-ripple {
      color: #4285f4;
    }
    
    /* FAB */
    .fab {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .fab.red {
      background-color: #d23f31;
    }
    
    .fab.blue {
      background-color: #4285f4;
    }
    
    .fab.green {
      background-color: #0f9d58;
    }
    
    .fab:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
    
    .fab > core-icon {
      margin: 16px;
    }
    
    .fab > core-icon::shadow path {
      fill: #fff;
    }
    
    /* Menu */
    .menu {
      display: inline-block;
      width: 180px;
      background-color: #fff;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
    
    .item {
      position: relative;
      height: 48px;
      line-height: 48px;
      color: #646464;
      font-size: 0.9em;
    }
    
    .menu.blue > .item {
      color: #4285f4;
    }
    
    /* Card, Dialog */
    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 240px;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
    
    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }
    
    .dialog > .content {
      height: 170px;
      font-size: 0.9em;
    }
    
    .dialog > .content > .title {
      font-size: 1.3em;
    }
    
    .dialog > .button {
      width: 90px;
      float: right;
    }
    
    .card.image {
      background: url(http://lorempixel.com/300/240/nature/);
      color: #fff;
    }
    
    /* Misc */
    .center {
      text-align: center;
    }
    
    .label {
      padding: 0 16px;
    }
    
    .label-blue {
      color: #4285f4; 
    }
    
    .label-red {
      color: #d23f31; 
    }
    
     core-tooltip.fancy::shadow .core-tooltip {
      opacity: 0;
      -webkit-transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
      transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    core-tooltip.fancy:hover::shadow .core-tooltip,
    core-tooltip.fancy:focus::shadow .core-tooltip {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }