{% extends 'polymer.html' %}
{% block title %} Something's wrong {% endblock %}

{% block section %}
	<div horizontal layout center-justified>
		<p>
			<strong>403</strong> That's a Permission Denied
		</p>
		<p> Trust me! You do not have the permission to do what you wished to do. <br>
		<span style="color:#666;">That’s all I know.</span></p>
		{% include 'links_url.html' %}
	</div>
{% endblock %}