{% extends 'polymer.html' %}
{% block title %} Something's wrong {% endblock %}

{% block section %}
	<div horizontal layout center-justified>
		<p>
			<strong>500</strong> That's an error!
		</p>
		<p> The requested URL was not found on my system. <span style="color:#666;">That’s all I know.</span></p>
		{% include 'links_url.html' %}
	</div>
{% endblock %}