{% extends 'polymer.html' %}

{% block title %} Your Account {% endblock %}

{% block pageTitle %} {{request.user|title}}'s Account {% endblock %}
{% block section %}
<style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
      }
    
      body {
        font-family: sans-serif;
      }

    .card {
      max-width: 600px;
      min-width: 400px;
      height:auto;
      padding:10px 20px;
      margin-top:20px;
    }

    .heading {
      font-size: 1.3em;
    }

    paper-button {
      text-transform: capitalize;
    }

  </style>

<div horizontal center-justified layout>
  <div class="card">
   <paper-shadow></paper-shadow>

   <div flex two>
     <center class="heading">Your username is <strong>{{account|title}}</strong></center>
     <p style="text-align:center;">
       You have a simple profile. Since your account on Menpha is connected to either your Facebook or Google account, any changes you want done, such as change of password or username should be done, not here, but on the respective websites of the authentication providers.
    </p> 
    <p>
      You agree to the <a href="{% url 'privacy' %}" target="new"> Terms of Use</a> of Menpha by your use.
    </p>
    <p style="text-align:center;">
      You can delete your account on Menpha if you want to!
     </p>
     <hr>
   </div>
   <div flex one>
      <div vertical layout center>

        <!--<a href="{% url 'account_change_password' %}">
          <paper-button raised class="colored">Change Password
          </paper-button>
        </a> -->
        <a href="/accounts/logout/">
          <paper-button raised> Logout </paper-button>
        </a>

          <paper-button class="delete">Delete Account</paper-button>

      </div>
   </div>
  </div>
</div>
{% endblock %}
