{% extends 'polymer.html' %}

{% block title %} Add {% endblock %}
{% block pageTitle %} Add Item {% endblock %}
{% block section %}
<style type="text/css">
  .form {
    width: 480px;
    height:auto;
    padding:10px 20px;
  }

  .blue {
    background:#5677fc;
  }

</style>
  <section horizontal center-justified layout>
  <!-- Add form below. Uses Ajax for sending data -->
        <div vertical layout class="form"> 
          <form is="ajax-form" method="post" action="/add/go/" id="myform">{% csrf_token %}
             <paper-input-decorator placeholder="Enter Device name" label="Device name" floatingLabel error="Value must be a number!">
                <input type="text" name="device" required>
             </paper-input-decorator>
             <paper-input-decorator placeholder="Item Unique Code (only numbers)" label="Unique Code (only numbers)" floatingLabel>
                <input type="text" name="slug" required maxlength="25" pattern="[0-9]+">
             </paper-input-decorator>
           
            
            <div class="dropdowncustom withBottomBorder">
             <select name="type_of_item" required>
                <option> Choose Category </option>
                <option value="auto">Automobile </option>
                <option value="md"> Mobile</option>
                <option value="com"> Computer </option>
                <option value="da"> Domestic </option>
              </select> 
            </div>

              <paper-input-decorator floatingLabel label="Enter description">
                 <paper-autogrow-textarea>
                    <textarea name="description" required style="width:100%;"></textarea>
                 </paper-autogrow-textarea> 
              </paper-input-decorator>

             <div horizontal layout center-justified>
             <div flex two style="margin-top:10px; color:grey;"> Stolen or Not</div>
                <div flex one>
                  <div class="dropdowncustom withBottomBorder">
                    <select name="stolen" class="dropdowncustom">
                        <option value="s">Yes </option>
                        <option value="ns">No</option>
                    </select>
                  </div>
                </div>
              </div>
          
            <div horizontal start-justified layout>
                <a href="javascript:void(0);" onclick="Submit();">
                  <paper-fab raisedButton="true" icon="send" class="blue" style="margin-top:25px;"></paper-fab>        
                </a>
              <!--<core-tooltip label="Reset form" large position="bottom" class="fancy">-->
                <a href="javascript:void(0);" onclick="Reset();">
                  <paper-fab raisedButton="true" icon="cancel" class="red" style="margin-top:25px;"></paper-fab>
                </a>
              <!--</core-tooltip>-->
            </div>
        </form>
      </div> 
     </section>

     <!-- All toasts sections -->
      <paper-toast id="invalids" role="alert" text="Hmmmm... Looks like some fields are empty">
      </paper-toast>

      <paper-toast id="thanks" role="alert" text="Thanks! Your choices have been submitted!">
      </paper-toast>      

      <paper-toast id="sending" role="alert" text="Sending your item for addition to your list. If this takes too long, check network connection">
      </paper-toast>    

      <paper-toast id="response" role="alert" text="Failed to submit. Check if form is fully filled and try again">
      </paper-toast>

      <paper-toast id="conflict" role="alert" text="An item with this Unique code is in the database already." duration="7000">
      </paper-toast>
        <script type="text/javascript">

          function Submit(){
            document.getElementById('myform').submit();
          };
          function Reset(){
            document.getElementById('myform').reset();
          };

          </script>
      <script>

        (function() {
            var form = document.getElementsByTagName('form')[0]
            form.addEventListener('invalid', function() {
                document.querySelector('#invalids').show()
            });
            
            form.addEventListener('submitting', function() {
              document.querySelector('#sending').show()
            });
            
            form.addEventListener('submitted', function(event) {
                
                if (event.detail.status == 200) {
                    document.querySelector('#response').show()
                    console.log(event.detail.errors)
                }
                else if (event.detail.status == 400) {
                    document.querySelector('#conflict').show()
                    console.log(event.details.errors)
                }
                else {
                    document.querySelector('#thanks').show()
                }
            });
        }());
    </script>
  
{% endblock %}