{% if user == mylist.created_by %}
	<div class="card" >
		<div horizontal layout>
			<paper-button raised class="colored" style="height:auto;">
				<a href="/edit/{{ mylist.slug }}">Edit</a>
			</paper-button>
			
			{% include 'share_only.html' %}
				
			<paper-button>
				<a href="/delete/{{ mylist.slug }}" class="delete">Delete</a>
			</paper-button>
		</div>
	</div>
	{% endif %}
	{% if not user == mylist.created_by %}

		{% include 'share_notify.html' %}

{% endif %}