{% extends 'polymer.html' %}

{% block title %} Homepage {% endblock %}
{% block section %}
  <section horizontal center-justified layout>
    <div> 
      <form action="{% url 'search' %}" method="GET" id="myForm" style="margin-top:25px; width:300px;">
        
        <paper-input-decorator floatingLabel label="Search and find missing/stolen items" id="yourSearch">
          <input type="text" name="q" required maxlength="25">
        </paper-input-decorator>

        <div>
          <a href="javascript:void(0);" onclick="Submit();">
           <paper-fab raisedButton="true" icon="search" class="blue"></paper-fab>
          </a>
          <paper-fab raisedButton="true" icon="help" onclick="toggleDialog('paper-dialog-transition-bottom')" class="blue"></paper-fab>
        </div>
      </form>
    </div>

  </section>

  <script type="text/javascript">

    function toggleDialog(transition) {
      var dialog = document.querySelector('paper-dialog[transition=' + transition + ']');
      dialog.toggle();
    }

  function Submit(){
    document.getElementById('myForm').submit();
  };

  </script>

<!--<a href="javascript:void(0);" onclick="Submit();">
<paper-button raisedButton class="colored" label="Search">Search</paper-button>
</a>-->
{% endblock %}