{% extends 'polymer.html' %}

{% block title %} {{mylist.device}} Detail Page {% endblock %}

{% block section %}
<style type="text/css">
	    html, body {
	      height: 100%;
	      margin: 0;
	    }
	  
	    body {
	      font-family: sans-serif;
	    }

		.card {
			width: 480px;
			height:auto;
			padding:10px 20px;
		}
		.heading {
			font-size: 1.6em;
			border-bottom: 1px solid grey;	
			margin-bottom:10px;	
		}
		.imei {
			padding: 2px;
			background-color:#f2f2f2;
			margin-bottom: 5px;
		}

		.info {
			padding: 2px;
			border-top: 1px solid grey;
			margin-top:5px;
		}
	</style>
<section horizontal center-justified layout>
    <div vertical layout> 
		{% include 'items.html' %}
		{% include 'footer_bars.html' %}
    </div>

  </section>
  <script>
    function toggleDialog(transition) {
      var dialog = document.querySelector('paper-dialog[transition=' + transition + ']');
      dialog.toggle();
    }
  </script>
{% endblock %}
