{% extends 'polymer.html' %}
{% load i18n %}
{% block title %} Confirm box {% endblock %}

{% block section %}
	<style type="text/css">

	</style>
	  <section horizontal center-justified layout>
		<form method="post" action="." id="form"> {% csrf_token %}
			<h3>Do you wanna delete {{ to_delete }}? </h3>
			<paper-button class="blue"> 
				<a href="/detail/{{ to_delete.slug }}">Don't Delete </a>
			</paper-button>
			<paper-fab icon="delete" class="red" onclick="Submit();">
			</paper-fab>
		</form>
	</section>
	<script type="text/javascript">
		function Submit(){
			document.getElementById('form').submit();
		}
	</script>
{% endblock %}