<div class="card">
  <paper-shadow></paper-shadow>
  <div vertical layout>
    <div class="heading">{{ mylist.device }}</div>
    <div class="imei">{{ mylist.slug }}</div>
    <div class="info">{{ mylist.description }}</div>
    <hr>
    <div>State of Device: <strong>{% if mylist.stolen == 's' %} Stolen {% else %} With me/owner {% endif %}</strong></div>
    <div>Owned by <strong>{{mylist.created_by}}</strong> </div>
    <hr>
    <div>Modified {{mylist.pub_date|timesince}} ago</div>
  </div>
</div>