{% extends 'polymer.html' %}

{% block title %} Edit Item {% endblock %}
{% block pageTitle %} Edit Item {% endblock %}

{% block section %}
     <style type="text/css">
      .form {
        max-width: 480px;
        height:auto;
        padding:10px 20px;
      }


paper-button > a {
  color:#666;
}

.fieldWrapper {
  margin:8px 10px;
}
</style>
    <section horizontal center-justified layout>   
   
	<div horizontal layout class="form">
	<paper-shadow></paper-shadow>
		<form action='.' method='post' id="myform">{% csrf_token %}
			
      {{ form.non_field_errors }}
    
      <div class="fieldWrapper">
        <paper-input-decorator floatingLabel label="Device name" required>
          {{ form.device }}
        </paper-input-decorator>
      </div>
      <div class="fieldWrapper">
        <paper-input-decorator floatingLabel label="Unique Code">
          {{ form.slug }}
        </paper-input-decorator>
        </div>
      <div class="fieldWrapper">
        <paper-input-decorator>
          <div class="dropdowncustom">
            {{ form.type_of_item }}
          </div>
        </paper-input-decorator>
      </div>
      <div class="fieldWrapper">
      <paper-input-decorator floatingLabel label="Enter description">
         <paper-autogrow-textarea rows="2">
            {{ form.description }}
         </paper-autogrow-textarea> 
      </paper-input-decorator>
      </div>
      <div class="fieldWrapper">
        <div class="dropdowncustom">
          {{ form.stolen }}
        </div>
      </div>

			<a href="javascript:void(0);" onclick="Submit();">
				<paper-button raised class="colored">Save Edit</paper-button>
			</a>
			<a href="{% url 'myList' %}" title="Cancel">
        <paper-button>
          Cancel 
        </paper-button>
      </a>
		</form>
	</div>
  <!-- Form Errors Toasts. Cheers! -->
  {% if form.device.errors %}
    <paper-toast id="deviceError" role="alert" text="Hello buddy! Please fill in the Device Name" opened duration="10000">
    </paper-toast>   
  {% endif %}

  {% if form.slug.errors %}
    <paper-toast id="deviceError" role="alert" text="Cough cough! You've left the Unique number" opened duration="10000">
    </paper-toast>   
  {% endif %}
  
  {% if form.type_of_item.errors %}
    <paper-toast id="deviceError" role="alert" text="Hello buddy! Please fill in the Device Name" opened duration="10000">
    </paper-toast>   
  {% endif %}

  {% if form.description.errors %}
    <paper-toast id="deviceError" role="alert" text="Hello buddy! Please fill in the Device Name" opened duration="10000">
    </paper-toast>   
  {% endif %}

   {% if form.stolen.errors %}
    <paper-toast id="deviceError" role="alert" text="Hello buddy! Please fill in the Device Name" opened duration="10000">
    </paper-toast>   
  {% endif %}

	</section>
<script type="text/javascript">

function Submit(){
  document.getElementById('myform').submit();
};

</script>

<script>
(function() {
    var form = document.getElementsByTagName('form')[0]
    form.addEventListener('invalid', function() {
        document.querySelector('#invalids').show()
    });
    
    form.addEventListener('submitting', function() {
      document.querySelector('#sending').show()
    });
    
    form.addEventListener('submitted', function(event) {
        
        if (event.detail.status == 200) {
            document.querySelector('#response').show()
            console.log(event.detail.errors)
        }
        else if (event.detail.status == 400) {
            document.querySelector('#conflict').show()
            console.log(event.details.errors)
        }
        else {
            document.querySelector('#thanks').show()
        }
    });
}());
</script>

<paper-toast id="invalids" role="alert" text="Some form fields are invalid">
</paper-toast>

<paper-toast id="thanks" role="alert" text="Thanks! Your choices have been submitted!">
</paper-toast>      

<paper-toast id="sending" role="alert" text="Sending your item for addition to your list. If this takes too long, check network connection">
</paper-toast>    

<paper-toast id="response" role="alert" text="Failed to submit. Check if form is fully filled and try again">
</paper-toast>

<paper-toast id="conflict" role="alert" text="An item with this Unique code is in the database already." duration="7000">
</paper-toast>
     
{% endblock %}
