{% extends 'polymer.html' %}

{% block title %} My List {% endblock %}

{% block pageTitle %} My List {% endblock %}
{% block section %}
<style type="text/css">

    .card {

      min-width: 400px;
      height:auto;
      padding:10px 20px;
    }
    .heading {
      font-size: 1.3em;
    }

    .date {
      font-size:0.6em;
    }

  </style>

<div horizontal center-justified layout>
  <section vertical center-justified layout>
    <div style="margin-bottom:10px;">
      You have {{ object_list.count }} number of item(s) in your list.
    </div>
  {% if object_list %}
   {% for mylist in object_list %}
      <div vertical layout style="margin-bottom:10px;">
        <div class="card">
          <paper-shadow></paper-shadow>
          <div horizontal layout reverse>
            <div class="heading" flex>{{ mylist.device }} - <small>{{ mylist.slug }}</small> <br>
            <span class="date">{{ mylist.pub_date }}</span>
            </div>
            <div >
            <core-tooltip label="View Details" large position="top" class="fancy">
            <a href="/detail/{{mylist.slug}}">
              <paper-fab mini icon="content-copy"></paper-fab>
            </a>
            </core-tooltip>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  {% else %}
      <div vertical layout style="margin-bottom:10px;">
        <div class="card">
          Your device list is empty.
          <paper-button raised class="colored" mini>
            <a href="/add/">Add</a>
          </paper-button> 
        </div>
      </div>
  {% endif %}
  </section>
</div>
{% endblock %}