<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="mylist-card" noscript>
	<template>
	<style type="text/css">
	    html, body {
	      height: 100%;
	      margin: 0;
	    }
	  
	    body {
	      font-family: sans-serif;
	    }

		.card {
			min-width: 480px;
			height:auto;
			padding:10px 20px;
			margin-bottom: 10px;
		}
	</style>
		<div class="card">
			<paper-shadow></paper-shadow>
			<div vertical layout>
				<div>Name of Item.</div>
				<div>Serial Number of item</div>
				<div>Description</div>
				<div>State of Item</div>
				<div>Was owned by</div>
			</div>
		</div>
	</template>
</polymer-element>