{% load static %}
<!doctype html>
<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html>
<head>
  <title>{% block title %} Replace {% endblock %} Menpha v2.0</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <script src="{% static 'bower_components/webcomponentsjs/webcomponents.js'%}"></script>
  <link rel="import" href="{% static 'bower_components/core-toolbar/core-toolbar.html'%}">
  <link rel="import" href="{% static 'bower_components/core-header-panel/core-header-panel.html'%}">
  <link rel="import" href="{% static 'bower_components/core-menu/core-menu.html'%}">
  <link rel="import" href="{% static 'bower_components/core-item/core-item.html'%}">
  <link rel="import" href="{% static 'bower_components/core-icon-button/core-icon-button.html'%}">
  <link rel="import" href="{% static 'bower_components/paper-fab/paper-fab.html'%}">
  <link rel="import" href="{% static 'bower_components/paper-input/paper-input.html'%}">
  <link href="{% static 'bower_components/core-icons/core-icons.html" rel="import'%}">
  <link href="{% static 'bower_components/paper-ripple/paper-ripple.html" rel="import'%}">
  <link href="{% static 'bower_components/paper-icon-button/paper-icon-button.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-item/paper-item.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-shadow/paper-shadow.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-menu-button/paper-menu-button.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-button/paper-button.html'%}" rel="import">
  <link href="{% static 'bower_components/ajax-form/ajax-form.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-dropdown/paper-dropdown.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-dropdown-menu/paper-dropdown-menu.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-dialog/paper-dialog.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-dialog/paper-action-dialog.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-dialog/paper-dialog-transition.html'%}" rel="import">
  <link href="{% static 'bower_components/ajax-form/ajax-form.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-toast/paper-toast.html'%}" rel="import">
  <link href="{% static 'bower_components/core-tooltip/core-tooltip.html'%}" rel="import">

  {% block importMore %}
    <!-- in case wanna import something specific for a page, like blog page importing foundation zurb.
    This approach saves loading times for pages without the need for the grid skills of Foundation -->

  {% endblock %}

  <!-- Joy Ride -->
  <link rel="stylesheet" href="{% static 'joy/joyride-2.1.css'%}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/extras.css'%}">
  
<style>

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}

/* Paper Fab */

paper-fab {
  color: #FFF;
  margin-right:2em;
}

paper-fab.blue {
  background: #5677fc;
}

paper-fab.green {
  background: #259b24;
}

paper-fab.yellow {
  background: #ffeb3b;
  color: #000;
}

section {
  padding: 4px;
  margin: 12px;
}

section.grey {
  background-color: #ccc;
}

/* Paper Button */

paper-button {
  margin: 1em;
  width: 10em;
}

paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}


paper-button[raisedButton].delete #focusBg,
paper-button[raisedButton].delete::shadow #focusBg {
  background:red;
}

paper-button[raised].delete {
  background: rgb(255, 0, 0);
  color: #fff;
}

paper-button[raised].delete #ripple,
paper-button[raised].delete::shadow #ripple {
  color: black;
}

paper-button[raised].share #focusBg,
paper-button[raised].share::shadow #focusBg {
  background:green;
}

paper-button[raisedButton].share {
  background: rgb(0, 126, 0);
  color: #fff;
}

paper-button[raisedButton].share #ripple,
paper-button[raisedButton].share::shadow #ripple {
  color: black;
}

paper-button.hover:hover {
  background:red;
  transition: ease-out 2s;
}

 paper-dialog {
  width: 50%;
  min-width: 430px;
  margin-left:auto;
  margin-right:auto;
}

p {
  margin-bottom: 0;
}

paper-dialog paper-button {
  font-weight: bold;
}

paper-button[autofocus] {
  color: #4285f4;
}

.dropdowncustom > select {
width: 100%;
height: auto;
border: 0px;
background-color: white;
font-size: 20px;
margin-top: 5px;
color: grey;
padding-left: 0px;
/*border-bottom: 1px solid grey;*/
margin-left: 0px;
}

.withBottomBorder {
  border-bottom: 1px solid grey;
}

  </style>
  
</head>

<body unresolved>

<core-toolbar>
    <paper-menu-button>
      <paper-icon-button icon="menu"></paper-icon-button>
      <paper-dropdown class="dropdown">
        <a href="/" id="yourMenu">
          <paper-item icon="home" label="Home">Home
          </paper-item>
        </a>
          <a href="{% url 'myList' %}">
            <paper-item icon="apps" label="My List">
              My list
            </paper-item>
          </a>
          <a href="{% url 'add' %}">
            <paper-item icon="add-box" label="Add Item">
              Add Item
            </paper-item>
          </a>
          <a href="{% url 'blog' %}">
            <paper-item  icon="blog" label="Blog">
              Blog
            </paper-item>
          </a>
      </paper-dropdown>
    </paper-menu-button>

      <a href="/" title="Homepage">
        <paper-icon-button icon="home" title="home" style="color-fill:black;"></paper-icon-button>
      </a>

  <div flex>
    {% block pageTitle %} Homepage {% endblock %}</div>
  <div>
      <a href="{% url 'add' %}"><paper-fab raisedButton="true" icon="create" mini class="blue" id="yourItem" style="margin-right:2px;"></paper-fab></a>
      <a href="{% url 'intro' %}"><paper-fab raisedButton="true" icon="search" mini class="blue" id="search" style="margin-right:2px;"></paper-fab></a>
  </div>
    <div>
      <paper-menu-button icon="more-vert" halign="right">
        <paper-icon-button icon="menu" id="yourAccount"></paper-icon-button>
        <paper-dropdown class="dropdown" halign="right">
      {% if user.is_authenticated %}
      <a href="{% url 'myAccount' %}">
        <paper-item icon="account-box" label="{{request.user|title}}">
          {{request.user|title}}
        </paper-item>
      </a>
      {% else %}
      <a href="/accounts/login/">
        <paper-item icon="account-circle" label="Sign In">
          Account
        </paper-item>
      </a>
      {% endif %}
      <a href="mailto:menphaproject@gmail.com">
        <paper-item icon="assessment" label="Send Feedback">
          Send Feedback
        </paper-item>
      </a>
        <!--<paper-item icon="settings" label="Settings">
          <a href="#"></a>
        </paper-item>-->
        <a href="#" onclick="toggleDialog('paper-dialog-transition-bottom')">
          <paper-item icon="help" label="Help">
            Help
          </paper-item>
        </a>
        <a href="{% url 'privacy' %}">
          <paper-item icon="help" label="Privacy">
            Privacy
          </paper-item>
        </a>
        {% if user.is_authenticated %}
        <a href="/accounts/logout/">
          <paper-item icon="settings-power" label="Sign Out">
            Sign out
          </paper-item>
        </a>
        {% endif %}
        </paper-dropdown>
      </paper-menu-button>
    </div>
</core-toolbar>

{% block section %}

  <section horizontal center-justified layout class="grey">
    <div vertical layout> 
        <div>
           <paper-input Label="Enter search" placeholder="Enter search here" floatingLabel>
           </paper-input> 
        </div>
        <div>
          <!--<paper-button raisedButton class="colored" label="Search"></paper-button> -->
         <paper-fab raisedButton="trued" icon="search" class="blue"></paper-fab>

        </div>
    </div>
  </section>
  {% endblock %}



  <paper-dialog heading="Welcome to Menpha" transition="paper-dialog-transition-bottom" backdrop="true" style="width:80%;">
    <p>One step at a time, with your support, Menpha is building the world's most reliable way to track your item, no matter what it is, provided it is uniquely identifiable. Menpha relies not on computer-generated data, but rather real information from humans.</p>

    <p>
      Before you buy a second hand item with a uniquely identifiable code, you search for it using that code of the device. If you see a result in the search on Menpha, then it means, the once-original-initial owner of the item has marked it as stolen or missing and he or she is looking for it.
    </p>
    <p>
      Thus, you'll know its a stolen item that someone wants to resell to you without the original owner's permission. You can also populate your item list with items of yours that have unique codes. When an item gets lost, you update that item to say its not with you. Anyone who tries to buy that item, but searches to know its stolen will be able to notify you the original, and likely arrange a way to bust the thief.
    </p>

    <h3>How does it work</h3>
    <p>
      <ul>
        <li><strong>Sign Up</strong> Its free and instant and no subscription fees whatsoever. After Sign up, every part of Menpha belongs to you!</li>

        <li><strong>Search doors open for you on Menpha.</strong> Know if the item you wish to purchase is stolen. Notify the original owner should that be the case. If the identity number you searched for is still with the owner (because the owner has marked it as 'its with me'), you will not see that in your search results.</li>

        <li><strong>Stock up your Items' list</strong> and update them accordingly to help prevent the resale of them to another person when you loose them.</li>

        <li><strong>Grab your item back</strong> when a user who comes into contact with your device notifies you of it, and discusses how to grab it back.</li>
      </ul>
    </p>

  </paper-dialog>


<paper-dialog heading="Send Feedback" transition="paper-dialog-transition-center" backdrop="true">
  <form id="myform">{% csrf_token %}
    <paper-input-decorator placeholder="Enter Device name" label="Device name" floatingLabel>
      <input type="text" name="device" required>
    </paper-input-decorator>

    <select name="type_of_item" class="dropdowncustom">
      <option value="auto"> Bug </option>
      <option value="md"> Suggestion</option>
    </select> 

    <paper-input-decorator floatingLabel label="Enter description">
      <paper-autogrow-textarea>
        <textarea name="description" required style="width:100%;"></textarea>
      </paper-autogrow-textarea> 
    </paper-input-decorator>

    <div horizontal layout center>
      <div flex two style="margin-top:10px; color:grey;"> You want copy?</div>
        <div flex one>
          <select name="stolen" class="dropdowncustom">
              <option value="s">Yes </option>
              <option value="ns">No</option>
          </select>
        </div>
    </div>
    
    <div horizontal start-justified layout>
      <core-tooltip label="Send item" large position="top" class="fancy">
        <a href="javascript:void(0);">
          <paper-fab raisedButton="true" icon="send" class="blue" style="margin-top:25px;"></paper-fab>        
        </a>
      </core-tooltip>
    </div>
  </form>
</paper-dialog>

<ol id="joyRideTipContent">
  <li data-id="yourMenu" data-button="Next" data-options="tipLocation:left;tipAnimation:fade">
    <h2>Your Menu</h2>
    <p>Couple of links in your menu</p>
  </li>
  <li data-id="yourSearch" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
    <h2>Search Easily</h2>
    <p>Enter unique code of device and search</p>
  </li>
  <li data-id="yourAccount" data-button="End" data-options="tipLocation:top;tipAnimation:fade">
    <h2>Account</h2>
    <p>View your basic profile</p>
  </li>
</ol>

  <script>
    function toggleDialog(transition) {
      var dialog = document.querySelector('paper-dialog[transition=' + transition + ']');
      dialog.toggle();
    }
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46667867-1', 'menpha.herokuapp.com');
  ga('send', 'pageview');

</script>

<!-- Run the plugin -->
<script type="text/javascript" src="{% static 'joy/jquery-1.10.1.js'%}"></script>
<script type="text/javascript" src="{% static 'joy/jquery.cookie.js'%}"></script>
<script type="text/javascript" src="{% static 'joy/modernizr.mq.js'%}"></script>
<script type="text/javascript" src="{% static 'joy/jquery.joyride-2.1.js'%}"></script>


<script>

  $(window).load(manualStart());

  function manualStart() {
    $('#joyRideTipContent').joyride({
      autoStart : false,
      postStepCallback : function (index, tip) {
      if (index == 2) {
        $(this).joyride('set_li', false, 1);
      }
    },
    modal:true,
    expose: true,

    });
  };
  
  function startJoy() {
    $('#joyRideTipContent').joyride({
      cookieMonster : true,
      cookieName : 'JoyRide',
      autoStart : true,
      postStepCallback : function (index, tip) {
      if (index == 2) {
        $(this).joyride('set_li', false, 1);
      }
    },
    modal:true,
    expose: true,

    });
  };

</script>

</body>
</html>
