{% extends 'polymer.html' %}
{% load i18n %}
{% block title %} Privacy & Terms {% endblock %}

{% load static %}

{% block section %} 
<div horizontal center-justified layout>
  <section vertical center-justified layout style="max-width:800px;">
            <p>
              {% trans "We respect your privacy" %}
            </p>
            <h1>
              {% trans "Terms of Use and Privacy" %}
            </h1>
            <h4> {% trans "Terms of Use" %}</h4>
            <p>
            {% blocktrans %}
              Site visitors may download copyrighted materials from this site for non-commercial use only. By downloading such materials from this site, visitors agree not to post these materials on the Internet or on any other electronic network. Visitors also agree not to share these materials in exchange for money, even if no profit is involved.
            {% endblocktrans %}
            </p>
            <p>
              Copyright © 2015 Menpha Project. All rights reserved.<br/>
            </p>
            <p>
            {% blocktrans %}
              This Web site is published and maintained by Menpha Project Unless otherwise indicated, all text and other information contained in this Web site are the intellectual property of Menpha Project . All rights reserved.
            {% endblocktrans %}
            </p>
            <h5>{% trans "Trademarks" %}</h5>
            <p>
              {% blocktrans %}
              All other trademarks and registered trademarks are property of their respective holders.
              {% endblocktrans %}
            </p>
            <p>
              <h4>{% trans "Personal Information" %}</h4>
              <p>
              {% blocktrans %}
              Personal information submitted on this Web site is used by the Menpha Project or its cooperating organizations solely for the purpose stated to the user at the time of submission. Menpha Project does not give your personal information to anyone else unless it is necessary to do so in order to provide the service requested by the user and it has made a full disclosure to the user or it has good faith belief that disclosure of such information is reasonably necessary to satisfy any applicable laws or regulations or to detect and prevent fraud, security, or technical issues. Any personal information submitted will not be sold, traded, or rented under any circumstances.
              {% endblocktrans %}
              </p>
              <h4>{% trans "E-mail Address" %}</h4>
              <p>
              {% blocktrans %}
              The e-mail address that you supply when creating an account on this Web site will be used to contact you regarding your account. For example, if you forget your user name or password and request assistance with logging in, assistance will be provided by means of a message sent to the e-mail address entered in your user profile.
              {% endblocktrans %}
              </p>

              <h4>{% trans "Cookies" %}</h4>
              <p>
              {% blocktrans %}
              Cookies are used to remember preferences that are chosen by the user when using menpha.herokuapp.com. For example, the preferred language in which to view is stored in a cookie so that this language is selected when the user returns to the Web site. No personal information is collected by or stored in cookies.
              {% endblocktrans %}
              </p>
              <h4>{% trans "Active Scripting or JavaScript" %}</h4>
              <p>
              {% blocktrans %}
              Scripting is used by menpha.herokuapp.com to improve the functionality of the Web site. Using scripting technology allows menpha.herokuapp.com to return information more quickly to the user. Scripting is never used by menpha.herokuapp.com to install software on the user’s computer or to collect unauthorized information from the user.
              {% endblocktrans %}
              </p>
              <p>
              {% blocktrans %}
              Active scripting or JavaScript must be enabled in the browser for some portions of menpha.herokuapp.com to work correctly. Most Web browsers allow this feature to be enabled or disabled for specific Web sites. Consult the Web browser help documentation to learn how to enable scripting for selected Web sites.
              {% endblocktrans %}
              </p>
              <p>
              {% blocktrans %}
              If ever it proves necessary to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect and how we use it.
              {% endblocktrans %}
f            </p>
            <p>
              {% blocktrans %}
              Menpha gets more and more accurate with its growing user-base. Having the most of information about devices globally, we are poised to offer the details to users of our platform.
              {% endblocktrans %}
            </p>
            <p>
              {% trans "Its everyone's job to help make the world a better and safer place." %}
            </p>
  </p>
  </section>
</div>
    {% endblock %}