{% extends 'polymer.html' %}

{% block title %} {{query}} Search Result {% endblock %}
{% block pageTitle %} Search {% endblock %}

{% block section %}
<style type="text/css">

		.card {
			width: 480px;
			height:auto;
			padding:10px 20px;
		}
		.heading {
			font-size: 1.6em;
			border-bottom: 1px solid grey;	
			margin-bottom:10px;	
		}
		.imei {
			padding: 2px;
			background-color:#f2f2f2;
			margin-bottom: 5px;
		}

		.info {
			padding: 2px;
			border-top: 1px solid grey;
			margin-top:5px;
		}
	</style>
<section horizontal center-justified layout>
    <div vertical layout>
    {% if query %}
    	{% if results %}
    		{% for mylist in results %}
	    <div vertical layout> 
			{% include 'items.html' %}

			{% include 'footer_bars.html' %}

	    </div>
	   {% endfor %}
	   {% else %}
	   <div class="card">
	   	<h3>No results could be returned.</h3> Why? Because no one with that unique code has the item stolen. Yip-yip-yip, Hu-uu-rray! The world is a better place!
		</div>
		<hr>
		<div class="card">
	   	<h3>Or you searched for something wrong?</h3> Perhaps you typed the unique code wrong. Please try again.
		</div>
		{% endif %}
	 	{% else %} 
	 	<div class="card">
	 		<h3>You did search for nothing.</h3> Need help?
	 	</div>
	{% endif %}
    </div>

  </section>
{% endblock %}