{% extends 'polymer.html' %}
{% load i18n %}
{% load static %}

{% block title %} Notify Official Owner {% endblock %}
{% block importMore %}
  <link href="{% static 'bower_components/core-label/core-label.html'%}" rel="import">
  <link href="{% static 'bower_components/paper-checkbox/paper-checkbox.html'%}" rel="import">
{% endblock %}

{% block section %}
<div horizontal layout center-justified>
	<form action="." method="post" id="myForm">{% csrf_token %}

        <paper-input-decorator floatingLabel label="Enter Message Subject">
          <input type="text" required name="subject">
        </paper-input-decorator>

        <paper-input-decorator floatingLabel label="Enter Message">
          <paper-autogrow-textarea rows="2">
            <textarea name="message"></textarea>
          </paper-autogrow-textarea>
        </paper-input-decorator>

        <core-label center horizontal layout>
          <div flex>Touch sounds</div>
          <paper-checkbox checked for name="cc_myself"></paper-checkbox>
        </core-label>

        <div>
	        <a href="javascript:void(0);" onclick="Submit();">
	         <paper-fab raised icon="send" class="blue"></paper-fab>
	        </a>
        </div>
  </form>
  </div>
  <script type="text/javascript">

          function Submit(){
            document.getElementById('myForm').submit();
          };

          </script>
      <script>

        (function() {
            var form = document.getElementsByTagName('form')[0]
            form.addEventListener('invalid', function() {
                document.querySelector('#invalids').show()
            });
            
            form.addEventListener('submitting', function() {

            });
            
            form.addEventListener('submitted', function(event) {
                
                if (event.detail.status > 299) {
                    document.querySelector('#response').show()
                    console.log(event.detail.errors)
                }
                else {
                    document.querySelector('#thanks').show()
                }
            });
        }());
    </script>
{% endblock %}
