<div class="card" >
	<div horizontal layout>
		<a href="/notify/{{ mylist.slug }}">
			<paper-button raised class="colored">Notify</paper-button>
		</a>
		<paper-button raised class="share">
			Share
		</paper-button>
	</div>
</div>